body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.menu {
  display: flex;
  // justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  gap: 11rem;

.dwarkaLogo img {
  height: 3.7rem;
}

ul {
  list-style: none;
  // margin: 0;
  // padding: 0;
  display: flex;
  
  li > * {
    text-decoration: none;
    margin-right: 1.5rem;
    color: rgb(75 85 99 /1);
    font-size: 1rem;
    padding: 1rem;
    // text-transform: uppercase;
  }
  
  li:hover > * {
    padding: 1rem;
    border-bottom: 2px solid #dcc397;

  }

}



}